.service {
    display: flex;
    justify-content: center;
    .service-container {
        width: 90%;
        padding: 30px 10px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;

        .career {
            .image-wrapper {
                width: 100%;
                max-width: 400px;
                // border-bottom: 2px solid var(--blue-color);
            }
        }

        .placement {
            display: flex;
            flex-direction: column;
            row-gap: 15px;
            padding: 15px;

            .btn-wrapper {
                overflow: hidden;

                display: flex;
                // overflow-x: scroll;
                justify-content: left;

                min-width: 600px;
                .btn1 {
                    // width: 80%;
                    border: none;
                    padding: 12px 17px;
                    color: black;

                    background-color: transparent;
                    font-weight: 600;
                    font-size: 14px;
                    border: 1px solid rgb(131, 130, 130);
                    width: 180px;
                }
                .start {
                    background-color: var(--purple-color);
                    color: white;
                }
            }
            .item {
                display: flex;
                column-gap: 15px;

                .image-wrapper {
                    width: 65px;
                }
                .about {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    // justify-content: space-between;

                    row-gap: 5px;
                    .subheading {
                        font-size: 16px;
                    }
                    .footer {
                        // padding-right: 30px;
                        // margin-left: -10px;
                        font-size: 13px;
                        font-weight: 550;
                    }
                }
            }
        }

        .alumni {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 30px;
            .image-div {
                max-width: 400px;
            }
        }

        .peer-learning {
            width: 100%;
            display: flex;
            flex-direction: column;
            row-gap: 15px;
            align-items: center;
            
            background-color: #6659b8;
            .image-wrapper {
                justify-self: center;
                width: 100%;
                max-width: 480px;

                // padding: 10px;
            }

            .pros {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                .items {
                    width: 100%;
                    display: flex;
                    background-color: white;
                    column-gap: 15px;
                    padding: 15px 20px;
                    align-items: center;
                    box-shadow: 0px 4px 16px rgb(0 0 0/8%);
                    // margin-block: 2px;
                    border-bottom: 1px solid rgb(114, 114, 114);

                    .icon-wrapper {
                        .icon {
                            color: var(--blue-color);
                            font-size: 30px;
                        }
                    }
                    span {
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .service {
        .service-container {
            .career {
                display: flex;
                flex-direction: column;
                align-items: center;
                row-gap: 20px;
            }

            .placement {
                // row-gap: 20px;
                .btn-wrapper {
                    justify-content: center;
                    margin-block: 20px;
                }

                .item {
                    .about {
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;

                        row-gap: 5px;
                        .subheading {
                            font-size: 16px;
                        }
                        .footer {
                            // padding-right: 30px;
                            font-size: 13px;
                            font-weight: 550;
                        }
                    }
                }

                .desc {
                    margin-left: 75px;
                }
            }

            .alumni {
                display: flex;
                flex-direction: column;
                row-gap: 30px;
                align-items: center;

                .image-div {
                    max-width: 600px;
                }
            }

            .peer-learning {
                display: flex;
                flex-direction: column;
                align-items: center;
                row-gap: 15px;
                .image-wrapper {
                    width: 600px;
                }

                .pros {
                    .items {
                        display: flex;
                        background-color: white;
                        column-gap: 15px;
                        padding: 15px 20px;
                        align-items: center;
                        margin-block: 2px;

                        .icon-wrapper {
                            .icon {
                                color: var(--blue-color);
                                font-size: 30px;
                            }
                        }
                    }
                }
            }
        }
    }
}
